.mainContainer{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
form{
    border: 1px solid black;
    width: 400px;
    text-align: center;
    border-radius: 6px;
    padding: 10px 20px 40px 20px;
    box-shadow: rgb(49, 49, 49) 2px 2px 2px;
}
input{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border-bottom: .5px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
h2{
    text-transform: uppercase;
    font-size: 30px;
}
button{
    padding: 8px 60px;
    border-radius: 18px;
    border: none;
    background-color: #1C8D73;
    color: aliceblue;
    font-weight: 400;
    font-size: 14px;
}
.inputError{
    color: red;
    text-align: left;
    margin-top: 4px;
}
.inputFieldsWrong{
    border-bottom: 2px solid red;
}
.inputFieldCorr{
    border-bottom: 2px solid rgb(36, 139, 34);

}