@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.mainContainer{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
body{
    background-color: #ffffff;
    font-family: Montserrat;
}
.heading h2{
    font-weight: 600;
}
.subContainer{
    border: 2px solid black;
    width: 400px;
    text-align: center;
    padding: 10px 50px 50px 40px;
    border-radius: 8px;
    background-color: #CAD5E2;
}
.inpFields,.indBreakup{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 20px 20px;
    gap: 10px;
}

.btn{
    margin-bottom: 20px;
}
label{
    margin-bottom: 18px;
    text-align: left;
}
input{
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid black;
}
button{
    background-color: #1C8D73;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    color: #ffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.bun .thme{
   position: relative;
   left: 6%;
   top: -25px;
   margin-bottom: 6px;
}
.bun{
    display: flex;
    justify-content: flex-end;
}
.bun .p1,.p2{
    background-color: #ffffff;
    border: 1px solid black;
    padding: 4px 18px;
    /* border-radius: 1px solid black; */
}
.bun .p2{
    background-color: black;
    color: #ffffff;
}
.dark-mode{
    background-color: black;
}
.lite-mode{
    background-color: #ffffff;
}